html {
  font-family: sans-serif;
  overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
    background-color: rgb(231, 231, 231);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
    font-size: 12pt;
    margin-top: 8px;
}

li {
    padding: 3px;
}

ul {
    margin-top: 0px;
}

a {
    text-decoration: none;
}

footer {
    margin-top: 100px;
    font-size: 8pt;
    color: gray;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

#page {
  max-width: 900px;
  min-width: 240px;
}

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#link-box {
  display: flex;
  flex-direction: row;
}

.nav-link {
    margin: auto;
    padding: 10px;
    position: relative;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;
}

.nav-link:hover {
cursor: pointer;
}

.highlighter {
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    bottom: 50%;
    transition: all .2s;
    z-index: -1;
}

.nav-link:hover .highlighter {
    border-top: solid 2px orange;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.current .highlighter {
    border-top: solid 2px orange;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
}

.current:hover .highlighter {
    border-top: solid 2px orange;
    top: 100%;
}

.nav-link, .current:hover {
    cursor: default;
}
  
.content {
    margin-top: 20px;
}

.frameless {
    margin-top: 20px;
    padding: 10px;
    padding-left: 20px;
    margin-bottom: 60px;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.screenshots {
    display: flex;
    flex-wrap: wrap
}

#open-energy-view-banner-image {
    height: 100%;
    overflow: hidden;
    background-image: url("./static/open-energy-view-dashboard.png");
    background-size: cover;
}

.project {
    margin-top: 20px;
    border-left: solid 2px orange;
    border-bottom: solid 2px orange;
    padding: 10px;
    padding-left: 20px;
    box-shadow: 2px 2px 5px gray;
}

.project-description-container {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    background: white;
    box-shadow: 0px 0px 10px -5px gray;
}

.project-text {
    flex: 1 1 600px;
    flex-direction: column;
    display: flex;
}

.project-image {
   flex: 2 2 300px;
}

.thumbnail {
   padding: 5px;
   display: flex;
   flex: 1 0 250px;
   justify-content: space-around;
   max-height: 250px;
}

.expanded {
    cursor: default;
    box-shadow: 3px 4px 5px gray;
}


.section-title {
    margin: 0;
}

.github-link {
    display: table;
    margin-top: 8px;
}

.github-link:hover {
    cursor: pointer;
}

.github-link:hover>i {
    color: orange;
}

.github-link:hover>h5 {
    text-decoration: underline orange;
}

.github-link>h5 {
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
    font-weight: normal;
    color: rgb(59, 59, 59);
    margin: 0;
}

.github-link>i {
    display: table-cell;
    font-size: 20pt;
    color: rgb(59, 59, 59);
}

.expand {
    color: gray;
}

.expand:hover {
    cursor: pointer;
    text-decoration: underline orange;
}

.hidden {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
 }

.two-columns {
    display: flex;
    flex-direction: row;
}

.column {
    flex: 1;
}

.column>iframe {
    padding-top: 5px;
}

.row {
    display: flex
}

.row-links >a {
    padding-right: 20px;
}


@media only screen and (max-device-width: 600px) {
  #nav {
    flex-direction: column;
    align-items: flex-start;
  }
  #title-box {
    padding-right: 30px;
  }
  #title-box>h1 {
    font-size: large;
    text-align: left;
    
  }
  #link-box {
    flex-wrap: wrap;
  }
  #link-box>.nav-link {
    font-size: small;
    margin: auto;
  }
  .two-columns {
      flex-direction: column;
  }
}

@media only screen and (min-device-width: 600px) {
  #nav {
    flex-direction: row;
}

